body{
    background-color: hsl(299, 89%, 60%);
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: black;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: hsl(120, 100%, 25%);
}
.add-button:hover{
    background-color: hsl(120, 100%, 35%);
}
.delete-button{
    background-color: hsl(0, 89%, 48%);
}
.delete-button:hover{
    background-color: hsl(0, 89%, 38%);
}
.move-button{
    background-color: hsl(248, 89%, 48%);
}
.move-button:hover{
    background-color: hsl(248, 89%, 38%);
}

input[type="text"]{
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid hsl(0, 6%, 85%);
    border-radius: 5px;
    color: hsl(0, 0%, 0.5%);
}
ol{
    padding: 0;
}
li{
   font-size: 2rem;
   font-weight: bold;
   padding: 15px;
   background-color: hsl(39, 22%, 82%); 
   margin-bottom: 10px;
   border: 3px solid hsl(40, 24%, 85%);
   border-radius: 5px;
   display: flex;
   align-items: center;
}
.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

